<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. If someone types the URL without "public/", invisibly rewrite it to go inside public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
